.body {
	font-size: 16px;
	color: rgba(21, 21, 21, 0.7);
	
}

.col {
	position: fixed;
	width: 100%;
	padding: 0;
	z-index: 2222;
	top: 0;
}
.row {
	
}

.u-c {
	text-transform: uppercase;
}
.navbar {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	z-index: 1;
	padding: 0 130px;

}
.navbar-brand {
	font-size: 30px;
    word-wrap: break-word;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
}

.row2 {
	display: flex;
	height: 90vh;
	max-height: 500px;
	/*position: relative;*/
	background: #ffc55c;

}

.text {
	height: 500px;
	font-size: 25px;
	width: 55%;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.my_color {
	color: #a23231;
}


h4 {
	font-weight: 500;
	font-size: 35px;
	font-family: "Mistral", Cursive;
}

h1 {
	font-weight: 800;
}

.big_image {
	width: calc(40% + 150px);
	background-image: url(../img/my_foto.JPG); 
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
}


.row:nth-child(2n){
    background: #f0f0f0; /* Цвет фона */
   } 

.row {
	display: flex;
}

.line {
	color: #d4d1d1;
}

.more {
	font-weight: 800;
	font-size: 26px;

}
.p-l-15 {
	padding-left: 15px;
}

.left {
	width: 20%;
	/*flex-wrap: wrap;*/
	padding: 20px;
	font-weight: 600;
}

.right {
	width: 80%;
	color: grey;
	padding: 20px;
	border-left: solid 1px grey;

}


.big_line {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 180px;
	background-color: #ffc55c;
	margin-top: 40px;
	margin-bottom: 40px;
}

.title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}


.b-title {
	text-align:center;
	position: relative;
	line-height: 3em;
}

.b-title::before, .b-title::after {
	content:"";
 	position:absolute;
 	left:50%;
 	display:block;
 }

 .b-title::before {
	width: 260px;
	bottom: 0;
	margin: 0 0 0 -130px;
	border-top: 1px solid #ffc55c;
}

.b-title::after {
	bottom: -3px;
	width: 7px;
 	height: 7px;
 	margin: 0 0 0 -3px;
 	border-radius: 50%;
 	background: #ffc55c;
	
}

.work {
	font-size: 22px;
	font-weight: 700;
}

.post {
	font-size: 18px;
	font-weight: 600;
}

.slider {
	background-color: black!important;
	max-width: 700px;
	margin: 40px auto;

}
.carousel-control-prev, .carousel-control-next {
	background-color: rgba(0,0,0,0.2);
	width: 6%!important;
}

#contacts {
	margin-top: 100px;
	height: 330px;
	background-color: #a23231;
	font-size: "Open Sans", Arial, sans-serif;
	color: #ffc55c;
}

.email {
	font-size: 16px;
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.connection {
	display: flex;
	justify-content: space-between;
}

.ifa {
	height: 60px;
	width: 60px;
	font-size: 30px;
	background: lightgrey;
	color: #a23231;
	/*скруляет элемент*/
	border-radius: 50%;
	display: flex;
	/*для центровки элемента по вертикали*/
	align-items: center;
    /*Для центровки элемента по горизонтали*/
	justify-content: center;
	/*обтекание*/
	float: left;
	margin-right: 10px;
}

.card-header {
	padding: 0;
	justify-content: center;
	display: flex;
}
./*carousel-item {
	height: 500px;

}

.w-80 {
	width: 80%!important;
	justify-content: center;
}*/

/* PUPILS - TEACHER   PUPILS - TEACHER   PUPILS - TEACHER    PUPILS - TEACHER */
.container {
    padding-top: 50px;
}

.news img {
    width: 100%;
}
.row span {
    color: #fff;
    font-size: calc (25%);
    background: rgba(255, 255, 255, 0.54);
    position: absolute;
    left: 0;
    top: calc(80% - 25px);
    padding: 5px;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: #a23231;
    font-weight: 700;

}

.pad {
    padding-top: 40px;
    padding-right: 40px;
    /*min-height: 50px;*/
}

.row span:nth-child(2n){
    top: calc(20% - 25px);
   } 