*{
	margin: 0; 
	padding: 0;
}

:root {
    --base-font-size: 18px;
    --base-light-color: #ffc55c;
    --base-dark-color: #a23231;
}

body{
	font-size: 18px;
	color: rgba(0, 0, 0, 0.9);
	line-height: 1.55;
}

.col{
	position: fixed;
	width: 100%;
	padding: 0;
	z-index: 2222;
	top: 0;
}

.u-c{
	text-transform: uppercase;
}

.navbar{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 700;
	z-index: 1;
	padding: 8px;
	background: var(--base-dark-color)!important;
	padding: 0 10vw;
	height: 64px;
}

.navbar-brand, .navbar-light, .navbar-nav, .active > .nav-link, .navbar-toggler {
	color: #fff!important;
}

#navbar-toggler{
	border-color: #fff;
}

.navbar-brand{
	font-size: 30px;
	padding-top: .7810rem;
    word-wrap: break-word;
}

.navbar-nav{
	display: flex;
	justify-content: space-around;
	text-indent: 0;
	text-transform: uppercase;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-link:hover, .btn-link:active, .btn-link:visited{
	text-decoration: none!important;
}

.accordion button p, .accordion button p:hover, .accordion button p:active, .accordion button p:visited {
	text-decoration: none!important;
}

@media (max-width: 992px) {
	.navbar-nav {
		padding-left: 10px;
		background-color: var(--base-dark-color);
	}
}

@media (min-width : 769px) {
	.my_row {
		height: 100vh;
		max-height: 500px;
	}

	.big_image{
		height: 500px;
	}
} 

.my_row{
	background: var(--base-light-color);
}

.text{
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-wrap: break-word;
	padding: 10px;
}

.name{
	text-align: center;
}

.my_color{
	color: var(--base-dark-color);
}

h4{
	font-size: calc(30px + (40 - 30) * ( (70vw - 320px) / (1024 - 320) ) );
	font-family: 'Marck Script', cursive;
}

h1{
	font-weight: 800;
	font-size: calc(25px + (40 - 25) * ( (70vw - 320px) / (1024 - 320) ) );
}

.big_image{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	margin: 0;
	background-image: url(../img/my_photo.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
}

.h-100{
	min-height: calc(100vh - 400px);
}

/* Анимация текста
Анимация будет увеличивать размер абзаца от 0 до 30em за 50 кадров, таким образом создавая эффект набора текста.*/
.typed{
	display: flex;
	align-items: center;
}

.css-typing{
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
    animation-iteration-count: infinite;
}

@keyframes type{
    from { width: 0; }
}
@-webkit-keyframes type{
    from { width: 0; }
}
/*Конец анимации текста*/

.renovation{
	padding-top: 5px;
	font-size: var(--base-font-size);
	font-family: Georgia;
    box-sizing: content-box;
    display: inline-block;

}

.content{
	margin-top: 63px;
}

.inf_row:nth-child(2n){
    background: #f0f0f0; /* Цвет фона */
} 

.inf_row{
	display: flex;
}

.line{
	color: #d4d1d1;
}

.more{
	font-weight: 800;
	font-size: 26px;
}

@media (min-width: 768px) {
	.p-l-15{
		padding-left: 15px;
	}
}

@media (max-width: 767px) {
	.p-l-15{
		padding-left: 0;
	}	
}

.f-w-600{
	font-weight: 600;
}

.left{
	padding-top: 20px;
}

.right{
	color: grey;
	padding: 20px;
	
}

@media (max-width: 1500px) {
    .right {
    	border-left: solid 1px grey;
    	border-top: none;
    }
	
}

@media (max-width: 575px) {
	.right {
  		border-top: solid 1px grey;
		border-left: none;
	}

	.left, .right{
		text-align: center;
	}
}

.map{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	padding-top: 40px;
}

.big_line{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 180px;
	background-color: var(--base-font-size);
	margin-top: 40px;
	margin-bottom: 40px;
}

.title{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

.b-title{
	text-align:center;
	position: relative;
	line-height: 1.5em;
}

.b-title::before, .b-title::after{
	content:"";
 	position:absolute;
 	left:50%;
 	display:block;
 }

.b-title::before{
	width: 260px;
	bottom: 0;
	margin: 0 0 0 -130px;
	border-top: 1px solid var(--base-light-color);
}

.b-title::after{
	bottom: -3px;
	width: 7px;
 	height: 7px;
 	margin: 0 0 0 -3px;
 	border-radius: 50%;
 	background: var(--base-light-color);
}

.work{
	font: 25px Georgia;
	font-weight: 700;
}

.work:hover, a:hover{
	text-decoration-line: none;
	color: auto;
}

.text-center{
	text-align: center;
	padding-bottom: 15px;
}

a{
	color: var(--base-dark-color);
}

a:hover{
	text-decoration: none;	
}

.post{
	font-size: calc(var(--base-font-size)*1.1);
}

ul{
      list-style: none;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em;
}
.li{
	margin-bottom: 10px;
}

.list li:before{
      content: "\00BB \0020";
      font-weight: 700;
      font-size: 20px;
}

.slider, {
	max-width: 700px;
	margin: 40px auto;
}

.embed-swf{
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 800px;
	height: 660px;
}

embed{
	width: 100%;
	height: 100%;
	background: #fff;
}

.carousel-control-prev, .carousel-control-next{
	background-color: rgba(0,0,0,0.2);
	width: 6%!important;
}

#contacts{
	height: 270px;
	margin-top: 70px;
	background-color: var(--base-dark-color);
	font: "Open Sans", Arial, sans-serif;
	color: var(--base-light-color);
}

.email{
	font-size: var(--base-font-size);
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.connection{
	display: flex;
	justify-content: space-around;
}

.ifa{
	height: 50px;
	width: 50px;
	font-size: 32px;
	background: #fff;
	color: var(--base-dark-color);
	/*скруляет элемент*/
	border-radius: 50%;
	display: flex;
	/*для центровки элемента по вертикали*/
	align-items: center;
    /*Для центровки элемента по горизонтали*/
	justify-content: center;
	/*обтекание*/
	float: left;
	margin-right: 10px;
}

.messenger:hover{
	color: #007ff7;
}

.viber:hover{
	color: #784f98;
}

.telegram:hover{
	color: #47ade0;
}

.accordion{
	margin-top: 30px;
}

.card-header{
	padding: 0;
	max-height: 60px;
	text-align: center;
	font: 25px Georgia;
	background-color: #f2c26d;
	background-image: linear-gradient(rgba(255,255,255,.2) 1px, rgba(255,255,255,0) 1px), linear-gradient(90deg,rgba(255,255,255,.2) 1px, rgba(255,255,255,0) 1px);
	background-size: 10px 10px;
	border-radius: 5px;
	
}

.card:after{
  content: "";
  display: inline-block;
  position: absolute;
  height: 5px;
  width: 100%;
  /*background: repeating-linear-gradient(45deg, var(--base-dark-color), var(--base-light_color) 10px, #D7DFED 20px);*/
}

.btn{
	width: 100%;
	padding-top: 15px;
}

button:hover{
	color: var(--base-light-color);
}

button:active{
	text-decoration: none;
}

.w-80{
	width: 80%!important;
	justify-content: center;
}

/* PUPILS - TEACHER   PUPILS - TEACHER   PUPILS - TEACHER    PUPILS - TEACHER */

.news img{
    width: 100%;
}
.pad span{
    color: #fff;
    font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    background: rgba(255, 255, 255, 0.54);
    position: absolute;
    left: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: var(--base-dark-color);
    font-weight: 700;
    top: calc(85% - 25px);
}

.pad{
	padding-top: 40px;
	/*padding-right: 40px;*/
}

.achievement{
	padding-top: 30px;
}

.light-color{
	background: var(--base-light-color);
}